@model List<App.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.ID</td>
                <td>@user.FirstName</td>
                <td>@user.Surname</td>
                <td>@user.Username</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("IndexDashboard", "Dashboard")">Back to Dashboard</a>
